<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">S.O.S Games</a>
    </div>
    <ul class="nav navbar-nav text-center">
      <li class="active"><img id="centerNavLogo" src="./images/unoLogo.png"></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <button class="btn btn-default" id="octoButton">
          <a href="https://github.com/sfsu-csc-667-spring-2018/term-project-sosgames">
          <img id="octocatLogo" src="./images/GitHub-Mark-Light-64px.png">
          </a>
        </button>
      </li>
      <!-- This Button should only appear if logged in as valid user -->
      <li class="active">
        <button class="btn btn-light" id="logoutButton">Log Out</button>
      </li>
    </ul>
  </div>
</nav>