<!doctype html>
<!-- Fresh Page with Valid Navbar -->
<html lang="en">
  <head>
    <% include head.ejs %>
  </head>
  <body>
    <% include navbar.ejs %>
    <% include scripts.ejs %>
  </body>
</html>