<div class="container jumbotron col-lg-8">

    <!--card avatars-->
    <div class="avatar-container card mb-3">
        <h5 class="card-header">Current Players</h5>
        <div class="card-body">

            <div class="avatar-card-container row">

                <!--for each card to render each player-->
                <div class="avatar-card card col-sm ml-1 mr-1">
                    <img class="card-img-top img-responsive img-thumbnail" src="https://i1.wp.com/www.thisblogrules.com/wp-content/uploads/2010/02/batman-for-facebook.jpg?resize=250%2C280"
                        alt=" Player Avatar">
                </div>
                <!--card player end-->

                <!--for each card to render each player-->
                <div class="avatar-card card col-sm ml-1 mr-1">
                    <img class="card-img-top img-responsive img-thumbnail" src="https://i1.wp.com/www.thisblogrules.com/wp-content/uploads/2010/02/batman-for-facebook.jpg?resize=250%2C280"
                        alt=" Player Avatar">
                </div>
                <!--card player end-->

                <!--for each card to render each player-->
                <div class="avatar-card card col-sm ml-1 mr-1">
                    <img class="card-img-top img-responsive img-thumbnail" src="https://i1.wp.com/www.thisblogrules.com/wp-content/uploads/2010/02/batman-for-facebook.jpg?resize=250%2C280"
                        alt=" Player Avatar">
                </div>
                <!--card player end-->

                <!--for each card to render each player-->
                <div class="avatar-card card col-sm ml-1 mr-1">
                    <img class="card-img-top img-responsive img-thumbnail" src="https://i1.wp.com/www.thisblogrules.com/wp-content/uploads/2010/02/batman-for-facebook.jpg?resize=250%2C280"
                        alt=" Player Avatar">
                </div>
                <!--card player end-->

            </div>

        </div>

    </div>
    <!--card avatars end-->




    <!--scoreboard-->

    <div class="scoreboard-container card mb-3">
        <div class="card-body">

            <div class="header-row-container row mb-3">
                <Text class="col-2 card-header border-left border-right">Rank</Text>
                <Text class="col-6 card-header border-left border-right">Player Name</Text>
                <Text class="col-4 card-header border-left border-right">Points</Text>
            </div>

            <!--for each to display player rankings-->
            <div class="avatar-card-container row">
                <Text class="col-2 ">1</Text>
                <Text class="col-6">Nicholas Szeto</Text>
                <Text class="col-4">1000</Text>
            </div>

            <div class="avatar-card-container row">
                <Text class="col-2">2</Text>
                <Text class="col-6">Khanh Nguyen</Text>
                <Text class="col-4">999</Text>
            </div>

            <div class="avatar-card-container row">
                <Text class="col-2">3</Text>
                <Text class="col-6">Robert Quinones</Text>
                <Text class="col-4">998</Text>
            </div>

            <div class="avatar-card-container row">
                <Text class="col-2">4</Text>
                <Text class="col-6">Jon Dombrowski</Text>
                <Text class="col-4">0</Text>
            </div>

        </div>

    </div>

    <!--scoreboard-->


    <!--buttons-->
    <div class="button-container row-sm-12">
        <button type="button" class="btn btn-success">Rematch</button>
        <button type="button" class="btn btn-danger float-right">Exit to Lobby</button>
    </div>
    <!--buttons-->


</div>