<div class="row">
  <div class="col-lg-12">
    <%if( (typeof success_msg != "undefined" ? success_msg : false) ) { %>
      <% success_msg.forEach(( success_msg ) => { %>
        <div class="notice error">
          <div class="alert alert-success"><%= success_msg %></div>
        </div>
      <% }); %>
    <% } %>

    <!-- Authentication Errors  -->
    <%if( (typeof error_msg != "undefined" ? error_msg : false) ) { %>
      <% error_msg.forEach(( success_msg ) => { %>
        <div class="notice error">
          <div class="alert alert-warning"><%= error_msg %></div>
        </div>
      <% }); %>
    <% } %>

    <!-- Form Errors -->
    <%if( (typeof errors != "undefined" ? errors : false) ) { %>
      <% errors.forEach(( error ) => { %>
        <div class="notice error">
          <div class="alert alert-danger"><%= error.msg %></div>
        </div>
      <% }); %>
    <% } %>
  </div>
</div>