<!-- ROUND NUMBER -->
<div class="row">
  <div class="col text-center">
    <h1>
      <span class="badge badge-primary">Round 1</span>
    </h1>
  </div>
</div>
<!-- ROUND NUMBER ENDS -->

<!-- MAIN VIEW -->
<section class="row">

  <!-- PLAYING VIEW -->
  <section class="game-room game-room-play col-lg-8">
    <div class="container">
      <!-- PLAYERS LIST -->
      <div class="row card game-players flex-row">
        <div class="text-center col player-avatar player-active">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image">
          <div class="player-name">Player 1 (You)</div>
          <div class="player-num-cards">Cards: 4</div>
        </div>
        <div class="text-center col player-avatar">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image">
          <div class="player-name">Player 2</div>
          <div class="player-num-cards">Cards: 1</div>
        </div>
        <div class="text-center col player-avatar">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image">
          <div class="player-name">Player 3</div>
          <div class="player-num-cards">Cards: 2</div>
        </div>
      </div>
      <!-- PLAYERS LIST ENDS -->

      <!-- CARD DECKS -->
      <div class="row flex-row">
        <div class="col text-center">
          <button type="button" class="btn btn-primary btn-lg" id="start-btn">START GAME</button>
        </div>
      </div>
        <!-- CARD DECKS ENDS -->

      <!-- CARD DECKS -->
      <div class="row card game-card-deck flex-row hide">
        <div class="col">
          <div class="centered sprite" id="card-on-top" data-card-value=""></div>
        </div>
        <div class="col text-center">
          <!-- TODO: add logic for current player's turn to switch 'disabled' -->
          <!-- <button type="button" class="btn" disabled> -->
          <div class="centered uno-black-card"></div>
          <button type="button" class="btn btn-outline-dark" id="draw-btn">Draw</button>
        </div>
      </div>
      <!-- CARD DECKS ENDS -->

      <!-- PLAYER'S HAND -->
      <div class="row card player-hand flex-row hide">

        <!-- Play Button -->
        <div class="col play-btn text-center">
          <!-- TODO: add logic for current player's turn to switch 'disabled' -->
          <button type="button" class="btn btn-primary" id="play-btn">Play</button>
        </div>

        <!-- Cards in Hand -->
        <!-- TODO: cards.foreach(render card) -->
        <div class="row player-hand">
          <div class="col">
            <div class="player-card centered sprite" data-card-value="red-0"></div>
          </div>
          <div class="col">
            <div class="player-card centered sprite" data-card-value="green-9" ></div>
          </div>
          <div class="col">
            <div class="player-card centered sprite" data-card-value="blue-reverse"></div>
          </div>
          <div class="col">
            <div class="player-card centered sprite" data-card-value="wild-draw-four"></div>
          </div>
          <div class="col">
            <div class="player-card centered sprite" data-card-value="yellow-2"></div>
          </div>
        </div>

      </div>
      <!-- PLAYER'S HAND ENDS -->

    </div>
  </section>
  <!-- PLAYING VIEW ENDS -->

  <!-- CHAT VIEW -->
  <section class="game-room game-room-chat col-lg-4">
    <div class="col">
      <div class="chat">
        <div id="menu">
          <h3>Chat</h3>
          <div style="clear:both">
            <div class="chat-messages">
              <div id="chat-window" class="table-responsive-chat">
                <table id="message-list" style="width:100%"></table> 
              </div>
            </div>
          </div>
          <div>
            <form id="chat-message-form" class="row">
              <input id="message" class="form-control game-chat" autocomplete="off" />
              <button class="btn btn-info form">Send</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- CHAT VIEW ENDS -->

</section>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/scripts/game.js"></script>

<!-- MAIN VIEW ENDS -->