<!-- ROUND NUMBER -->
<div class="row">
  <div class="col text-center">
    <h1>
      <span class="badge badge-primary">Round 1</span>
    </h1>
  </div>
</div>
<!-- ROUND NUMBER ENDS -->

<!-- MAIN VIEW -->
<section class="row">

  <!-- PLAYING VIEW -->
  <section class="game-room game-room-play col-lg-8">
    <div class="container">
      <!-- PLAYERS LIST -->
      <div class="row card game-players flex-row">
        <div class="text-center col player-avatar player-active">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image">
          <div class="player-name">Player 1 (You)</div>
          <div class="player-num-cards">Cards: 4</div>
        </div>
        <div class="text-center col player-avatar">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image">
          <div class="player-name">Player 2</div>
          <div class="player-num-cards">Cards: 1</div>
        </div>
        <div class="text-center col player-avatar">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image">
          <div class="player-name">Player 3</div>
          <div class="player-num-cards">Cards: 2</div>
        </div>
      </div>
      <!-- PLAYERS LIST ENDS -->

      <!-- CARD DECKS -->
      <div class="row card game-card-decks flex-row">
        <div class="col card-in-play">
          <div class="centered uno-card num-4 blue" data-card-value="4" data-card-color="blue">
            <span class="inner">
              <span class="mark">4</span>
            </span>
          </div>
        </div>
        <div class="col card-in-draw text-center">
          <!-- TODO: add logic for current player's turn to switch 'disabled' -->
          <!-- <button type="button" class="btn" disabled> -->
          <button type="button" class="btn">
            <div class="centered uno-card black">
              <span class="inner">
                <span class="mark">UNO</span>
              </span>
          </button>
          </div>
        </div>
        <!-- CARD DECKS ENDS -->

        <!-- PLAYER'S HAND -->
        <div class="row card game-card-hand flex-row">

          <!-- Play Button -->
          <div class="col play-btn text-center">
            <button type="button" class="btn btn-primary">Play</button>
          </div>

          <!-- Cards in Hand -->
          <div class="row play-hand">
            <div class="col player-card">
              <div class="centered uno-card num-4 blue" data-card-value="4" data-card-color="blue">
                <span class="inner">
                  <span class="mark">4</span>
                </span>
              </div>
            </div>
            <div class="col player-card">
              <div class="centered uno-card num-4 blue" data-card-value="4" data-card-color="blue">
                <span class="inner">
                  <span class="mark">4</span>
                </span>
              </div>
            </div>
            <div class="col player-card">
              <div class="centered uno-card num-4 blue" data-card-value="4" data-card-color="blue">
                <span class="inner">
                  <span class="mark">4</span>
                </span>
              </div>
            </div>
            <div class="col player-card">
              <div class="centered uno-card num-4 blue" data-card-value="4" data-card-color="blue">
                <span class="inner">
                  <span class="mark">4</span>
                </span>
              </div>
            </div>
            <div class="col player-card">
              <div class="centered uno-card num-4 blue" data-card-value="4" data-card-color="blue">
                <span class="inner">
                  <span class="mark">4</span>
                </span>
              </div>
            </div>
          </div>

        </div>
        <!-- PLAYER'S HAND ENDS -->

      </div>
  </section>
  <!-- PLAYING VIEW ENDS -->

  <!-- CHAT VIEW -->
  <section class="game-room game-room-chat col-lg-4">
    some chat stuff
  </section>
  <!-- CHAT VIEW ENDS -->

</section>
<!-- MAIN VIEW ENDS -->