<!doctype html>
<!-- Initial Landing Page -->
<html lang="en">
  <head>
    <% include head.ejs %>
  </head>
  <body>
     <% include navbar.ejs %>
     <% include loginform.ejs %>
     <% include scripts.ejs %>
  </body>
</html>