<div class="container">
  <form class="form-signin">
    <div class="text-center mb-4">
      <img src="./images/unoLoginLogo.png" width="60%">
      <h1>Play UNO</h1>
      <hr>
    </div>

    <div class="form-label-group">
      <input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      <label for="inputUsername">Username</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>
    <hr>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

    <a href="/signup" class="btn btn-lg btn-success btn-block" role="button">
      New User Sign Up
    </a>
    <hr>
  </form>
</div>