<!doctype html>
<!-- Fresh Page with Valid Navbar -->
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <div class="container">
      <%- body %>
    </div>
    <% include partials/scripts.ejs %>
  </body>
</html>