<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
  <% include partials/navbar.ejs %>
    <div class="container">
      <%- body %>
    </div>
    <footer class="closer">
      <p class="mt-5 mb-3 text-muted text-center">&copy; SOS Games - 2018</p>
    </footer>
    <% include partials/scripts.ejs %>
</body>
</html>