<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <%include partials/head.ejs%>
    <%include partials/scripts.ejs%>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Login</h1>
        <div class="container">
            <h4>page that will contain the forms necessary to login and verify credentia;s</h4>
            <p>This app can be ran using <code>node app.js</code> on your terminal</p>
            <a href="#" class="btn btn-info" role="button">Login</a>
            <a href="/login" class="btn btn-info" role="button">Register</a>
        </div>
        <a href="/" class="btn btn-danger" role="button">Cancel</a>
    </div>
</div>

</body>
</html>