</br>
<div class="container absolute-centered">
    <h3>Scores</h3>
    <div style='border:1px solid #000000'>
    <div style="height:100px;overflow:auto;">
        <table style="width:100%">
            <tr>
              <th>Player</th>
              <th>Score</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td> 
              <td>24</td>
            </tr>

          </table> 
    </div>
    </div>

    <h3>Current Games</h3>
    <div style='border:1px solid #000000'>
    <div style="height:100px;overflow:auto;">
        <table style="width:100%">
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Age</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td> 
              <td>Jackson</td>
              <td>94</td>
            </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
              </tr>
          </table> 
    </div>
    </div>
</div>
    <!-- chat section -->
    <element class="chatWindow">
    <object align="right">


        <div id="menu">
            <p class="welcome">Welcome, <b>insert current username</b></p>
            <h3>Chat</h3>
            <div style="clear:both"></div>
        </div>
            
        <div id="chatbox">  
            This is chat text from read db
        </div>
            
        <form name="message" action="">
            <input name="usermsg" type="text" id="usermsg" size="63" />
            <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
        </form>
        
    </object>
</element>