<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
    <%include partials/head.ejs%>
    <%include partials/scripts.ejs%>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Register </h1>
            <div class="container">
            <h4>Landing page for SOSGames</h4>
            <p>New User sign up</p>
        </div>
        <a href="/" class="btn btn-danger" role="button">Cancel</a>
    </div>
</div>

</body>
</html>