<div class="container">
  <form class="form-signin form-group" method="POST" action="/signup">
    <div class="text-center mb-4">
      <img src="./images/unoLoginLogo.png" width="60%">
      <h1>Sign Up</h1>
      <hr>
    </div>

    <% include error.ejs %>

    <div class="form-label-group">
      <input type="username" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
      <label for="username">Username <small>(4 - 20 characters)</small></label>
    </div>

    <div class="form-label-group">
      <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" required autofocus>
      <label for="email">Email Address</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
      <label for="password">Password <small>(8 character minimum)</small></label>
    </div>

    <div class="form-label-group">
      <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" placeholder="Confirm Password" required>
      <label for="confirmpassword">Confirm Password</label>
    </div>
      
    <hr>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
    <a href="/" class="btn btn-lg btn-success btn-block" role="button">
      Have An Account ?
    </a>
    <hr>
  </form>
</div>