<!doctype html>
<!-- Initial Landing Page -->
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <% include partials/signupform.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>