<div class="container">
  <form class="form-signin">
    <div class="text-center mb-4">
      <img src="./images/unoLoginLogo.png" width="60%">
      <h1>Sign Up</h1>
      <hr>
    </div>

    <div class="form-label-group">
      <input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      <label for="inputUsername">Username</label>
    </div>

    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus>
      <label for="inputEmail">Email Address</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
      <label for="confirmPassword">Confirm Password</label>
    </div>
    <hr>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
    <a href="/" class="btn btn-lg btn-danger btn-block" role="button">
      Have An Account ?
    </a>
    <hr>
  </form>
</div>