body {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

a {
  color: #00b7ff;
}
body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.flex-row {
  flex-direction: row;
}

.centered {
  margin: 0 auto;
}

#centerNavLogo {
  width: 25%;
}

#octocatLogo {
  width: 60%;
}

#octoButton {
  background: #343a40;
}

#logoutButton {
  margin-top: 7px;
}

#forgotPasswordLink {
  text-decoration: underline;
  margin-top: 3px;
}

.no-underline {
  text-decoration: none;
}

:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

#chat-submit-button {
  float: right;
  margin-top: 10px;
  margin-left: 5px;
  padding: 8px;
  width: 14%;
}

.chat-input {
  margin-top: 13px;
  margin-left: 15px;
  padding: 10px;
  width: 80%;
}

.game-chat {
  width: 73%;
  margin-left: 15px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

td.self-chat-message {
  animation-duration: 0.7s;
  animation-name: fade-in;
  background-color: beige;
  border-radius: 25px;
  padding: 0.5rem;
  margin: 5px;
}

td.external-chat-message {
  animation-duration: 0.7s;
  animation-name: fade-in;
  background-color: lightblue;
  border-radius: 25px;
  padding: 0.5rem;
}

.table-responsive {
  background-color: darkseagreen;
  height: 30vh;
  overflow: auto;
  width: 100%;
  border: 2px solid blue;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
  padding: 10px;
  margin: 0px 0px 10px 0px;
}

.table-responsive-chat {
  background-color: darkseagreen;
  height: 65.5vh;
  overflow: auto;
  width: 100%;
  border: 2px solid blue;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
  padding: 10px;
  margin: 0px 0px 15px 0px;
}

#color-picker {
  animation-duration: 0.7s;
  animation-name: fade-in;
}

#color-picker .btn {
  width: 100%;
}

.avatar-card {
  max-height: 200px;
  max-width: 200px;
}

.hide {
  display: none;
}

.game-room .row {
  margin-bottom: 1rem;
}

.player-avatar {
  padding: 0.5rem;
  margin: 0.5rem;
}

.player-avatar img {
  width: 50%;
  height: auto;
}

.player-active {
  border: #00b7ff 1px solid;
  border-radius: 0.25em;
}

.game-card-deck div.col,
.player-hand div.col,
#cards-in-hand {
  padding: 1rem;
}

.uno-black-card {
  background: transparent url('../images/uno_card_black.png') no-repeat;
  background-size: 100%;
  height: 173px;
  width: 110px;
  background-position: 0 0;
}

#draw-btn {
  margin-top: 10px;
}

.play-btn button {
  width: 50%;
}

.player-card {
  cursor: pointer;
}

.disabled-card {
  filter: grayscale(80%);
  pointer-events: none;
}

div.sprite {
  background: transparent url('../images/uno_cards_deck.png') no-repeat;
  height: 215px;
  width: 144px;
}

div.sprite[data-card-value='red-0'] {
  background-position: 0 0;
}

div.sprite[data-card-value='red-1'] {
  background-position: -143px 0;
}

div.sprite[data-card-value='red-2'] {
  background-position: -286px 0;
}

div.sprite[data-card-value='red-3'] {
  background-position: -428px 0;
}

div.sprite[data-card-value='red-4'] {
  background-position: -571px 0;
}

div.sprite[data-card-value='red-5'] {
  background-position: -714px 0;
}

div.sprite[data-card-value='red-6'] {
  background-position: -856px 0;
}

div.sprite[data-card-value='red-7'] {
  background-position: -999px 0;
}

div.sprite[data-card-value='red-8'] {
  background-position: -1142px 0;
}

div.sprite[data-card-value='red-9'] {
  background-position: -1285px 0;
}

div.sprite[data-card-value='red-skip'] {
  background-position: -1428px 0;
}

div.sprite[data-card-value='red-reverse'] {
  background-position: -1571px 0;
}

div.sprite[data-card-value='red-draw-two'] {
  background-position: -1713px 0;
}

div.sprite[data-card-value='yellow-0'] {
  background-position: 0 -214px;
}

div.sprite[data-card-value='yellow-1'] {
  background-position: -143px -214px;
}

div.sprite[data-card-value='yellow-2'] {
  background-position: -286px -214px;
}

div.sprite[data-card-value='yellow-3'] {
  background-position: -428px -214px;
}

div.sprite[data-card-value='yellow-4'] {
  background-position: -571px -214px;
}

div.sprite[data-card-value='yellow-5'] {
  background-position: -714px -214px;
}

div.sprite[data-card-value='yellow-6'] {
  background-position: -856px -214px;
}

div.sprite[data-card-value='yellow-7'] {
  background-position: -999px -214px;
}

div.sprite[data-card-value='yellow-8'] {
  background-position: -1142px -214px;
}

div.sprite[data-card-value='yellow-9'] {
  background-position: -1285px -214px;
}

div.sprite[data-card-value='yellow-skip'] {
  background-position: -1428px -214px;
}

div.sprite[data-card-value='yellow-reverse'] {
  background-position: -1571px -214px;
}

div.sprite[data-card-value='yellow-draw-two'] {
  background-position: -1713px -214px;
}

div.sprite[data-card-value='green-0'] {
  background-position: 0 -428px;
}

div.sprite[data-card-value='green-1'] {
  background-position: -143px -428px;
}

div.sprite[data-card-value='green-2'] {
  background-position: -286px -428px;
}

div.sprite[data-card-value='green-3'] {
  background-position: -428px -428px;
}

div.sprite[data-card-value='green-4'] {
  background-position: -571px -428px;
}

div.sprite[data-card-value='green-5'] {
  background-position: -714px -428px;
}

div.sprite[data-card-value='green-6'] {
  background-position: -856px -428px;
}

div.sprite[data-card-value='green-7'] {
  background-position: -999px -428px;
}

div.sprite[data-card-value='green-8'] {
  background-position: -1142px -428px;
}

div.sprite[data-card-value='green-9'] {
  background-position: -1285px -428px;
}

div.sprite[data-card-value='green-skip'] {
  background-position: -1428px -428px;
}

div.sprite[data-card-value='green-reverse'] {
  background-position: -1571px -428px;
}

div.sprite[data-card-value='green-draw-two'] {
  background-position: -1713px -428px;
}

div.sprite[data-card-value='blue-0'] {
  background-position: 0 -642px;
}

div.sprite[data-card-value='blue-1'] {
  background-position: -143px -642px;
}

div.sprite[data-card-value='blue-2'] {
  background-position: -286px -642px;
}

div.sprite[data-card-value='blue-3'] {
  background-position: -428px -642px;
}

div.sprite[data-card-value='blue-4'] {
  background-position: -571px -642px;
}

div.sprite[data-card-value='blue-5'] {
  background-position: -714px -642px;
}

div.sprite[data-card-value='blue-6'] {
  background-position: -856px -642px;
}

div.sprite[data-card-value='blue-7'] {
  background-position: -999px -642px;
}

div.sprite[data-card-value='blue-8'] {
  background-position: -1142px -642px;
}

div.sprite[data-card-value='blue-9'] {
  background-position: -1285px -642px;
}

div.sprite[data-card-value='blue-skip'] {
  background-position: -1428px -642px;
}

div.sprite[data-card-value='blue-reverse'] {
  background-position: -1571px -642px;
}

div.sprite[data-card-value='blue-draw-two'] {
  background-position: -1713px -642px;
}

div.sprite[data-card-value='wild'] {
  background-position: -1856px 0;
}

div.sprite[data-card-value='wild-draw-four'] {
  background-position: -1856px -856px;
}
